body {
    margin: 0;
    padding: 0;
    background: #EDF1F5;
    font-family: ReithSerif, Helvetica, Arial, freesans, sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ff9a76;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .main-menu a {
    padding: 15px 35px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
    transition-property: color;
    position: relative;
}


.sidenav .dropdown-btn {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    border: none;
    background: none;
    padding: 15px 35px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

.sidenav .main-menu a:hover,
.dropdown-btn:hover {
    color: #818181;
}

/*.active {
  background-color: #FF7F58;
  color: white;
}*/

.dropdown-container {
    display: none;
    padding: 10px 15px;
    background-color: #FF7F58;
    padding-left: 10px;
    font-size: 12px;
}

.sidenav .dropdown-container a {
    padding: 8px 15px;
    /* background-color: #FF7F58; */
    padding-left: 40px;
    font-size: 18px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
    padding-top: 8px;
}

.profile img {
    margin: 20px o;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 50%;
    background-color: #fff;
    border-bottom: 1px solid #fff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
}

/*Navbar*/
nav {
    display: flex;
    background-color: #ff9a76;
    justify-content: space-between;
    padding-left: 15px;
    color: white;
    height: 60px;
    align-items: center;
}

nav .nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 5px;
    padding-top: 15px;
    font-size: 18px;
}

nav ul li a {
    color: white;
    margin: 0px 10px;
}

nav ul li a:hover {
    color: #679b9b;
}

.navbar {
    justify-content: left;

}

.navbar-brand {
    font-size: 30px;
    padding-left: 8px;
}

#main {
    transition: margin-left 0.5s;

}


.card {
    border-radius: 0px;
}

.card-box {
    height: 200px;
}

.card-header {
    background-color: #ff9a76;
    color: white;
}

.card-body {
    padding: 10px;
}

.card-body .form-row span {
    color: red;
    padding-left: 5px;
}

.card-body .ava {
    padding: 10px;
}

.breadcrumb {
    background-color: white;
    padding: 10px 16px;
    padding-left: 20px;
    list-style: none;
}

.breadcrumb li {
    display: inline;
    font-size: 15px;
    margin: 5px 10px 10px 0px;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: #C0C0C0;
    content: ">\00a0";
}

.breadcrumb li .active {
    color: black;
}

.breadcrumb li a {
    color: #ff9a76;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #01447e;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.btn-group-edit .btn-custom {
    color: #ffffff;
    background-color: #ff9a76;
    box-shadow: 1px 1px 4px #632d1a;
}

.btn-group-edit .btn-custom:hover {
    background-color: #FF7F58;
    color: #ffffff;
}

.btn-group-edit {
    float: right;
}

.btn-edit i {
    padding-right: 5px;
    font-size: 15px;
}

.dropdown-nominal {
    display: inline-block;
}

ul.pagination a {
    color: black;
}

ul.pagination li a {
    background-color: #ff9a76;
    color: white;
    min-width: 20px;
    display: block;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

ul.pagination li a.active {
    background-color: #ff9a76;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    color: #ff9a76;
}

.show {
    display: inline-flex;
    align-items: center;
    padding-right: 5px;
}

.page-conf-left {
    padding-right: 5px;
}

.page-conf-val {
    margin-bottom: 0.5rem !important;
}

.input-group {
    padding-right: 5px;
    padding-bottom: 10px;
}

.btn i {
    padding-right: 5px;
}


#tabel-roles,
#tabel-add-roles {
    text-align: center;
}

.thead-custom {
    background-color: #ff9a76;
    color: #fff;

}

.btn-roles {
    border-radius: 35px;
    /* padding: 0 5px 0 5px; */
    /* margin: 15px 0 15px; */
}

.btn-add-act,
.btn-add-sch,
.btn-roles-save {
    margin: 10px 0 20px;
    border-radius: 35px;
    background-color: #09C6A0;
    color: #fff;
    /* justify-content: end; */
    display: block;
    position: relative;
}

.btn-roles-save {
    padding: 3px 35px 3px 35px;
}

.btn-add-act {
    padding: 3px 27px 3px 27px;
}

.btn-add-sch {
    padding: 3px 19px 3px 19px;
}

.btn-addcustom {
    margin: 20px 0 20px;
    padding: 3px 27px 3px 27px;
}

.btn-edtcustom {
    padding: 3px 15px 3px 15px;
}

.btn-addcustom,
.btn-edtcustom {
    background-color: #09C6A0;
    color: #fff;
}

.btn-add-act:hover,
.btn-roles-save:hover,
.btn-add-sch:hover,
.btn-addcustom:hover,
.btn-edtcustom:hover {
    background-color: #08bd98;
    color: white;
}

.btn-delcustom {
    background-color: #E46A76;
    color: white;
    margin-left: 8px;
    padding: 3px 15px 3px 15px;
}

.btn-delcustom:hover {
    background-color: #EB5463;
    color: white;
}

.btn-primary {
    background-color: #09C6A0 !important;
    border-color: #09C6A0;
    box-shadow: 1px 2px 5px #7f7f7f;
    padding: 6px 16px;

}

.btn-bank {
    margin-left: 100%;
}

.btn-primary:hover {
    background-color: #0ddcb2 !important;
    border-color: #0ddcb2;
}

.form-add {
    border-radius: 15px;
}

.breadcrumb-role {
    background-color: white;
    padding-left: 15px;
    list-style: none;
}

.breadcrumb-role li {
    display: inline;
    font-size: 15px;
    padding-bottom: 10px;
}

.non-visible {
    visibility: hidden;
}

.breadcrumb-role li+li:before {
    /* padding: 5px; */
    color: black;
    content: ">\00a0";
}

.breadcrumb-role li .active {
    color: black;
}

.breadcrumb-role li a {
    color: black;
    text-decoration: none;
}

.breadcrumb-role li a:hover {
    color: #01447e;
}

.role-name {
    border-radius: 12px;
}

#tabel-roles {
    margin: 8px 0 100px 0;
}

#inputrole {
    border-end-end-radius: 15px;

}


@media only screen and (max-width: 992px) {
    ul.breadcrumb {
        display: none;
    }
}

.lds-roller {
    display: block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(224, 60, 60);
    margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.w-auto {
    width: auto !important;
}

.create-button {
    background-color: #09C6A0;
    color: #fff;
    width: 130px;
    margin-left: auto;
    right: 0;
    margin-right: 10px;
    box-shadow: 1px 2px 5px #7f7f7f;
    height: 80%;
}

.create-button:hover {
    background-color: #0ddcb2;
    color: #fff !important;
}

.create-button.active {
    background-color: #0ddcb2;
    color: #fff !important;
}

.tablinks.create-button {
    color: #fff;
    font-weight: 600;
    /* background-color: red !important; */
    /* margin-bottom: 50px; */
}

.add-price-button {
    background-color: #ff7c4c;
    position: absolute;
    top: auto;
    bottom: 10px;
}

/* Box Text */
.box {
    background-color: tomato;
    width: 300px;
    height: 130px;
    border-radius: 5px;
    margin: 20px;
}

.box h3 {
    cursor: pointer;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 15px
}

.box h4 {
    cursor: pointer;
    color: white;
    text-align: center;
    margin: auto;
}

.box p {
    cursor: pointer;
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 20px
}

.list-bank div {
    display: inline-block;
}

thead {
    background-color: #ff7c4c;
    text-align: center;
    color: #fff;
}
